nav.top-bar
  ul.title-area
    li.name
      h1 = link_to 'FocusGTD', root_path

  section.top-bar-section
    ul.right
      li.active = link_to 'About', about_path
      li.divider
      li = link_to 'Blog', '#'
      li.divider
      li = link_to 'Contact', '#'
      li.divider
      li = link_to 'Sign Up', new_user_registration_path
      li.divider
      li = link_to 'Sign In', new_user_session_path
