settings: &settings
  pool:     5
  username: root
  password:
  encoding: utf8
  adapter:  mysql2
  host:     localhost

production:
  <<: *settings
  database: FocusGTD_production

development:
  <<: *settings
  database: FocusGTD_development

test: &test
  <<: *settings
  database: FocusGTD_test

cucumber:
  <<: *test