/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 */

footer a.logo {
  color: #858585;
  padding: 5px 0 0 0;
  font-size: 1em;
  display: inline-block;
}

footer a.logo:hover {
  color: #777;
}

footer ul.links {
  margin: -4px;
  display: inline-block;
}

footer ul.links li {
  display: block;
  float: left;
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
}

footer ul.links li a {
  color: #666;
  padding: 3px 6px;
}

footer ul.links li a:hover {
  color: #777;
}

footer p.copyright {
  margin: 12px 0 0;
  font-size: 0.75em;
  color: #666;
}
