footer {
  background: #333;
  padding: 24px 0 10px;

  ul.social {
    display: block;
    float: right;
    margin-bottom: 8px;

    li:first-child {
      margin-left: 0;
    }

    li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px;

      a.twitter {
        background-position: center 0;
      }

      a.facebook {
        background-position: center -200px;
      }

      a.mail {
        background-position: center -400px;
      }

      a {
        display: block;
        height: 50px;
        width: 50px;
        background: url(social-icons.png) no-repeat center 0;
      }

      a:hover {
        opacity: 0.8;
      }
    }
  }
}
