<div class='row'>
  <div class='large-12 large-centered columns text-center'>
    <h2>This is about us section</h2>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo.</p>
  </div>
</div>
