<nav class='top-bar'>
  <ul class='title-area'>
    <li class='name'>
      <h1><%= link_to 'FocusGTD', root_path %></h1>
    </li>
  </ul>

  <section class='top-bar-section'>
    <ul class='right'>
      <li class='active'><a href='#'>About</a></li>
      <li class='divider'></li>
      <li><a href='#'>Blog</a></li>
      <li class='divider'></li>
      <li><a href='#'>Contact</a></li>
      <li class='divider'></li>
      <li><a href='#'>Register</a></li>
      <li class='divider'></li>
      <li><a href='#'>Sign In</a></li>
    </ul>
  </section>
</nav>

<ul data-orbit>
  <li>
    <%= image_tag 'orbit_1.jpeg' %>
    <div class='orbit-caption'>
      Caption One.
    </div>
  </li>
  <li>
    <%= image_tag 'orbit_2.jpeg' %>
    <div class='orbit-caption'>
      Caption Two.
    </div>
  </li>
</ul>


<div class='row'>
  <hr />

  <div class='large-12 large-centered columns text-center'>
    <h2>This is a slogan section</h2>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo.</p>
  </div>
</div>


<div class='row'>
  <hr />

  <div class='large-4 columns text-center'>
    <img alt='Hp-services' src='http://zurb.com/assets/zurb/sketches/hp-services-cfd742fe5b4fe0039edb0ce351663679.jpg'>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>

  <div class='large-4 columns text-center'>
    <img alt='Hp-services' src='http://zurb.com/assets/zurb/sketches/hp-services-cfd742fe5b4fe0039edb0ce351663679.jpg'>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>

  <div class='large-4 columns text-center'>
    <img alt='Hp-services' src='http://zurb.com/assets/zurb/sketches/hp-services-cfd742fe5b4fe0039edb0ce351663679.jpg'>
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
</div>

<footer class='bottom'>
  <div class='row'>
    <div class='large-4 large-push-8 columns'>
      <ul class='social'>
        <li><a href='#' class='twitter'></a></li>
        <li><a href='#' class='facebook'></a></li>
        <li><a href='#' class='mail'></a></li>
      </ul>
    </div>

    <div class='large-8 large-pull-4 columns'>
      <a href='#' class='logo'>FocusGTD</a>
      <ul class='links'>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Blog</a></li>
        <li><a href='#'>Contact</a></li>
      </ul>
      <p class='copyright'>© Copyright no one at all. Go to town.</p>
    </div>
  </div>
</footer>
